# Main library
Django
Pillow
django-autocomplete-light
requests
python-dotenv
psycopg2-binary

# For corect style code
flake8

# Secret keys
django-environ

# Styles
whitenoise
django-crispy-forms
crispy-bootstrap5
